{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OPISANIYE</title>
  <link rel="stylesheet" href="{% static 'style3.css' %}">
</head>
<body>
  <div id="parallax-world-of-ugg">

    <section>
      <div class="title">
        <h3>ДАВАЙТЕ СДЕЛАЕМ НЕМНОГО</h3>
        <h1>ОПИСАНИЕ</h1>
        <a class="button" href="{% url 'home' %}">Назад</a>
      </div>
    </section>

    <section>
      <div class="parallax-one">
        <h2>Техники и помощь</h2>
      </div>
    </section>

    <section>
      <div class="block">
        <p><span class="first-character sc">I</span>На сегодняшний
          момент, общество не может  обойтись без техники. Ведь, сегодня разнообразная техника играет большую роль в жизни
          человека. Каждый день мы используем технику для удолетворения наших потребностей, ну например, телевизор
          и компьютер для  получения какой-либо важной информации, плиту, для приготовления вкусной еды, холодильник, для
          хранения продуктов, - так  можно перечислять бесконечно. Развитие техники с каждым годом растет, появляются .
          все более усовершенствованные модели, с новыми функциями Без техники наше общество никак обойтись не сможет. </p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">Бытовая техника играет немаловажную роль в жизни каждого современного человека.
          С первых дней рождения человек прямо или косвенно контактирует с бытовой техникой, пользуется продуктом
          бытовой техники. Сколько часов вы можете обойтись без бытовой техники? Сколько раз в день мы подходим к
          холодильнику, включаем микроволновку, утюг, тостер, стиральную машину? Современный городской житель избалован
          бытовой техникой и беспомощен без нее. Нам трудно представить вечер без телевизора, компьютера, без разговоров
          по мобильному телефону, мы привычно бросаем белье в стиральную машинку и забываем о нем, пока белье не выстирается
          в машинке. Мы выбираем технику по цене, энергопотреблению, мощности, цвету корпуса, по дизайну, по принадлежности
          техники к той или иной торговой марке. Зачастую мы отдаем предпочтение одной-двум маркам бытовой техники, которые
          служат нам много лет, зарекомендовали себя лучшим образом, удобны в эксплуатации и ремонте или просто из-за своего консерватизма.</p>
      </div>
    </section>

    <section>
      <div class="parallax-two">
        <h2>Самые популярные</h2>
      </div>
    </section>

    <section>
      <div class="block">
        <p><span class="first-character ny">B</span>Каждый год на рынке бытовой технике появляются новые имена,
          разрабатываются новые модели, меняется дизайн старых марок, появляются абсолютно новая бытовая техника,
          в корне отличающаяся по своим функциям, параметрам, возможностям. Мы стремимся улучшить свой быт посредством
          приобретения все новых и новых агрегатов. А тут еще и новое веяние нашего времени. Дарить малую бытовую технику
          уже стало традицией. Мы дарим родным и друзьям фены, утюги, тостеры, фритюрницы и фондющницы, электрочайники и
          электрокофеварки, миксеры и блендеры, соковыжималки и кухонные комбайны, електрогрелки и електрозажигалки, и еще
          много-много различных бытовых мелочей, созданных для того, чтобы облегчать наш труд, улучшать наш быт, баловать
          нас и экономить наше время на более важные и приятные дела. </p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">Субстанциональные редукции включают в понятие техники исторически развивающуюся совокупность
          создаваемых человечеством физических средств (инструментов, орудий, устройств, механизмов, машин и других артефактов),
          которые позволяют людям использовать естественные материалы, явления и процессы для удовлетворения своих потребностей,
          а также различные социотехнические системы (включая и такие специфические, как «мегамашины» Л. Мамфорда, или, например,
          социальные институты и государство). В этих контекстах техника рассматривается как артефакт (искусственное образование),
          она специально изготавливается, создаётся человеком (мастером, техником, инженером). </p>
      </div>
    </section>

    <section>
      <div class="parallax-three">
        <h2>Помошник жизни</h2>
      </div>
    </section>

    <section>
      <div class="block">
        <p><span class="first-character atw">W</span>При этом используются определённые идеи, знания, опыт, а
          объектом специального интереса становится организация технической деятельности (технология в узком смысле слова).
          Это может быть как индивидуальная деятельность мастера (либо группы, цеха мастеров), так и сложные формы организации
          коллективной деятельности («мегамашины»), проходящие долгий исторический путь развития (от трудовых армий фараонов
          до современных промышленных производств и сетевых производственных структур). Всё множество подобных артефактов можно
          разделить на два больших класса: технику и знаки. Техника функционирует и развивается по законам как первой природы,
          так и практической деятельности (техническое устройство, с одной стороны, есть известная практическая деятельность
          или средство деятельности, с другой — в нём реализуются определённые природные процессы).</p>
        <p class="line-break margin-top-10"></p>
        <p class="margin-top-10">Аксиологические редукции включают в понятие техники ценности и цели
          (власть над природой, борьбу за существование и отбор, широко понимаемое творчество), а также
          знания и навыки, с помощью которых люди создают и используют эти средства в своей деятельности.
          В этих контекстах техника является «инструментом», то есть всегда используется как средство, орудие,
          удовлетворяющее или разрешающее определённую человеческую потребность (в силе, движении, энергии,
          защите и так далее); нередко к технике относят также и те знания и навыки, с помощью которых люди создают
          и используют эти средства в своей деятельности.</p>
      </div>
    </section>

  </div>
</body>
</html>