{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style8.css' %}">
    <title>Создать запрос</title>
</head>
<body>
<div class="container">
    <form method="post">
        <h1>Создать запрос</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Представлять на рассмотрение</button>
    </form>
</div>
</body>
</html>