{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница мастера</title>
    <link rel="stylesheet" href="{% static 'style6.css' %}">
</head>
<body>
    <h1>Страница мастера</h1>
    <h2>Запросы</h2>
    <ul>
        {% for request in requests %}
            <li>
                {{ request.description }} - {{ request.client.name }} - {{ request.status }}
                {% if request.status == 'Pending' %}
                    <a href="{% url 'reject_request' request.id %}">Принять</a>
                    <a href="{% url 'accept_request' request.id %}">Отклонить</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'logout' %}">Выйти</a>
    <div class="btn">
        <a class="button" href="{% url 'home' %}">Назад</a>
    </div>
</body>
</html>

